<!-- args: commits object -->
<rena-update-github>
<!--
    <div class="commit" each="{ commit in props.data }">
        <div class="date">{ (new Date(commit.commit.comitter.date)).toLocaleString() }</div>
        <div class="message">{ commit.commit.message }</div>        
    </div>
-->
    <div class="commit">  
        <div class="date">date</div>
        <div class="message">message</div>        
    </div>
</rena-update-github>
